<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.jxc.dao.DamageListDao">
    <insert id="save" useGeneratedKeys="true" keyProperty="damageListId" keyColumn="damage_list_id">
        insert into t_damage_list (damage_number, damage_date, remarks, user_id)
        values (#{damageNumber}, #{damageDate}, #{remarks}, #{userId})
    </insert>
    <select id="list" resultType="com.atguigu.jxc.entity.DamageList">
        SELECT dl.*, u.true_name
        FROM `t_damage_list` dl
                 JOIN `t_user` u
                      ON dl.user_id = u.user_id
        WHERE DATE_FORMAT(dl.damage_date, '%Y-%m-%d') &gt;= DATE_FORMAT(#{sTime}, '%Y-%m-%d')
          AND DATE_FORMAT(dl.damage_date, '%Y-%m-%d') &lt;= DATE_FORMAT(#{eTime}, '%Y-%m-%d')
    </select>
</mapper>
