<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.jxc.dao.ReturnListDao">
    <insert id="save" useGeneratedKeys="true" keyProperty="returnListId" keyColumn="return_list_id">
        INSERT INTO t_return_list (return_number, return_date, amount_paid, amount_payable, remarks,
                                   state, supplier_id, user_id)
        VALUES (#{returnNumber}, #{returnDate}, #{amountPaid}, #{amountPayable}, #{remarks}, #{state}, #{supplierId},
                #{userId})
    </insert>
    <delete id="deleteById">
        DELETE
        FROM t_return_list
        WHERE return_list_id = #{returnListId}
    </delete>
    <select id="list" resultType="com.atguigu.jxc.entity.ReturnList">
        SELECT rl.*, u.true_name, s.supplier_name
        FROM `t_return_list` rl
        JOIN t_user u
        USING (user_id)
        JOIN t_supplier s
        USING (supplier_id)
        <where>
            DATE_FORMAT(rl.return_date, '%Y-%m-%d') &gt;= DATE_FORMAT(#{sTime}, '%Y-%m-%d')
            AND DATE_FORMAT(rl.return_date, '%Y-%m-%d') &lt;= DATE_FORMAT(#{eTime}, '%Y-%m-%d')
            <if test="returnNumber != null and returnNumber != ''">
                AND rl.return_number LIKE CONCAT('%', #{returnNumber}, '%')
            </if>
            <if test="supplierId != null and supplierId != ''">
                AND rl.supplier_id = #{supplierId}
            </if>
            <if test="state != null and state != ''">
                AND rl.state = #{state}
            </if>
        </where>
    </select>
</mapper>
