<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.jxc.dao.SaleListGoodsDao">
    <insert id="save">
        INSERT INTO t_sale_list_goods (goods_id, goods_code, goods_name, goods_model, goods_num, goods_unit, price,
                                       total, sale_list_id, goods_type_id)
        VALUES (#{goodsId}, #{goodsCode}, #{goodsName}, #{goodsModel}, #{goodsNum}, #{goodsUnit}, #{price}, #{total},
                #{saleListId}, #{goodsTypeId})
    </insert>
    <delete id="deleteBySaleListId">
        DELETE
        FROM t_sale_list_goods
        WHERE sale_list_id = #{saleListId}
    </delete>
    <select id="getSaleTotalByGoodsId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `t_sale_list_goods`
        WHERE goods_id = #{goodsId}
    </select>
    <select id="listSaleGoodsById" resultType="com.atguigu.jxc.entity.SaleListGoods">
        SELECT *
        FROM t_sale_list_goods
        WHERE sale_list_id = #{saleListId}
    </select>
    <select id="getSaleDataByDay" resultType="com.atguigu.jxc.entity.SaleData">
        SELECT sl.sale_date                                                     `date`,
               ROUND(SUM(sg.total), 2)                                          sale_total,
               ROUND(SUM(sg.goods_num * g.purchasing_price), 2)                 purchasing_total,
               ROUND(SUM(sg.total) - SUM(sg.goods_num * g.purchasing_price), 2) profit
        FROM `t_sale_list` sl
                 JOIN `t_sale_list_goods` sg
                      USING (sale_list_id)
                 JOIN `t_goods` g
                      USING (goods_id)
        WHERE sl.sale_date BETWEEN #{sTime} AND #{eTime}
        GROUP BY sl.sale_date
    </select>
    <select id="getSaleDataByMonth" resultType="com.atguigu.jxc.entity.SaleData">
        SELECT DATE_FORMAT(sl.sale_date, '%Y-%m')                               `date`,
               ROUND(SUM(sg.total), 2)                                          sale_total,
               ROUND(SUM(sg.goods_num * g.purchasing_price), 2)                 purchasing_total,
               ROUND(SUM(sg.total) - SUM(sg.goods_num * g.purchasing_price), 2) profit
        FROM `t_sale_list` sl
                 JOIN `t_sale_list_goods` sg
                      USING (sale_list_id)
                 JOIN `t_goods` g
                      USING (goods_id)
        WHERE DATE_FORMAT(sl.sale_date, '%Y-%m') BETWEEN #{sTime} AND #{eTime}
        GROUP BY DATE_FORMAT(sl.sale_date, '%Y-%m')
    </select>
</mapper>
